langchain==0.0.352
langchainhub==0.1.14
wikipedia==1.4.0
numexpr==2.8.8
Markdown==3.5.1
beautifulsoup4==4.12.2
pandas==2.1.4
requests==2.31.0
numpy==1.26.2
Pillow==10.1.0
langchain-experimental==0.0.47
contentful-management==2.13.1
diffusers==0.24.0
torch==2.1.2
transformers==4.36.2
accelerate==0.25.0
omegaconf==2.3.0
xformers --index-url https://download.pytorch.org/whl/cu121
GPUtil==1.4.0
inquirer==3.1.4
nltk==3.8.1
openai==1.6.1